<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>Pruebas.Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba2</servlet-name>
        <servlet-class>Pruebas.Prueba2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ws_login</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Curso</servlet-name>
        <servlet-class>Servlets.ABM_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Modulo</servlet-name>
        <servlet-class>Servlets.ABM_Modulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AM_Version</servlet-name>
        <servlet-class>Servlets.AM_Version</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AM_Parametro</servlet-name>
        <servlet-class>Servlets.AM_Parametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_ParametroEmail</servlet-name>
        <servlet-class>Servlets.ABM_ParametroEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Carrera</servlet-name>
        <servlet-class>Servlets.ABM_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Persona</servlet-name>
        <servlet-class>Servlets.ABM_Persona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Evaluacion</servlet-name>
        <servlet-class>Servlets.ABM_Evaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_TipoEvaluacion</servlet-name>
        <servlet-class>Servlets.ABM_TipoEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Calendario</servlet-name>
        <servlet-class>Servlets.ABM_Calendario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_CalendarioAlumno</servlet-name>
        <servlet-class>Servlets.ABM_CalendarioAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_CalendarioDocente</servlet-name>
        <servlet-class>Servlets.ABM_CalendarioDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Inscripcion</servlet-name>
        <servlet-class>Servlets.ABM_Inscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_PlanEstudio</servlet-name>
        <servlet-class>Servlets.ABM_PlanEstudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Materia</servlet-name>
        <servlet-class>Servlets.ABM_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Periodo</servlet-name>
        <servlet-class>Servlets.ABM_Periodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_PeriodoEstudioAlumno</servlet-name>
        <servlet-class>Servlets.ABM_PeriodoEstudioAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_PeriodoEstudioDocente</servlet-name>
        <servlet-class>Servlets.ABM_PeriodoEstudioDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_PeriodoEstudio</servlet-name>
        <servlet-class>Servlets.ABM_PeriodoEstudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Solicitud</servlet-name>
        <servlet-class>Servlets.ABM_Solicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Notificacion</servlet-name>
        <servlet-class>Servlets.ABM_Notificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_NotificacionDestinatario</servlet-name>
        <servlet-class>Servlets.ABM_NotificacionDestinatario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_NotificacionConsulta</servlet-name>
        <servlet-class>Servlets.ABM_NotificacionConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_NotificacionBitacora</servlet-name>
        <servlet-class>Servlets.ABM_NotificacionBitacora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Sincronizacion</servlet-name>
        <servlet-class>Servlets.ABM_Sincronizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationManager</servlet-name>
        <servlet-class>Servlets.NotificationManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ws_persona</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ws_EvaluacionAlumno</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ws_estudios</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ws_solicitudes</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ws_sincronizar</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadArchivo</servlet-name>
        <servlet-class>Servlets.UploadArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Importacion</servlet-name>
        <servlet-class>Servlets.ABM_Importacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Bitacora</servlet-name>
        <servlet-class>Servlets.ABM_Bitacora</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prueba</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba2</servlet-name>
        <url-pattern>/Prueba2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_login</servlet-name>
        <url-pattern>/ws_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AM_Version</servlet-name>
        <url-pattern>/AM_Version</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AM_Parametro</servlet-name>
        <url-pattern>/AM_Parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Carrera</servlet-name>
        <url-pattern>/ABM_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_ParametroEmail</servlet-name>
        <url-pattern>/ABM_ParametroEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Persona</servlet-name>
        <url-pattern>/ABM_Persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Curso</servlet-name>
        <url-pattern>/ABM_Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Modulo</servlet-name>
        <url-pattern>/ABM_Modulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Evaluacion</servlet-name>
        <url-pattern>/ABM_Evaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_TipoEvaluacion</servlet-name>
        <url-pattern>/ABM_TipoEvaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Calendario</servlet-name>
        <url-pattern>/ABM_Calendario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_CalendarioAlumno</servlet-name>
        <url-pattern>/ABM_CalendarioAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_CalendarioDocente</servlet-name>
        <url-pattern>/ABM_CalendarioDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Inscripcion</servlet-name>
        <url-pattern>/ABM_Inscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_PlanEstudio</servlet-name>
        <url-pattern>/ABM_PlanEstudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Materia</servlet-name>
        <url-pattern>/ABM_Materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Periodo</servlet-name>
        <url-pattern>/ABM_Periodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_PeriodoEstudioAlumno</servlet-name>
        <url-pattern>/ABM_PeriodoEstudioAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_PeriodoEstudioDocente</servlet-name>
        <url-pattern>/ABM_PeriodoEstudioDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_PeriodoEstudio</servlet-name>
        <url-pattern>/ABM_PeriodoEstudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Solicitud</servlet-name>
        <url-pattern>/ABM_Solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Notificacion</servlet-name>
        <url-pattern>/ABM_Notificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_NotificacionDestinatario</servlet-name>
        <url-pattern>/ABM_NotificacionDestinatario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_NotificacionConsulta</servlet-name>
        <url-pattern>/ABM_NotificacionConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_NotificacionBitacora</servlet-name>
        <url-pattern>/ABM_NotificacionBitacora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Sincronizacion</servlet-name>
        <url-pattern>/ABM_Sincronizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_persona</servlet-name>
        <url-pattern>/ws_persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationManager</servlet-name>
        <url-pattern>/NotificationManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_EvaluacionAlumno</servlet-name>
        <url-pattern>/ws_EvaluacionAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_estudios</servlet-name>
        <url-pattern>/ws_estudios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_solicitudes</servlet-name>
        <url-pattern>/ws_solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_sincronizar</servlet-name>
        <url-pattern>/ws_sincronizar</url-pattern>
    </servlet-mapping>
    <!-- REST WS -->
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>WSRest.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <!--
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>WSRest.resources</param-value>
        </init-param>
        
        <load-on-startup>1</load-on-startup>
    </servlet> 
    
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
   -->
    <!-- FIN REST WS -->
    <!--
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <description>Multiple packages, separated by semicolon(;), can be specified in param-value</description>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.glassfish.jersey.server.wadl.internal;WSRest.resources</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>UploadArchivo</servlet-name>
        <url-pattern>/UploadArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Importacion</servlet-name>
        <url-pattern>/ABM_Importacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Bitacora</servlet-name>
        <url-pattern>/ABM_Bitacora</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>Scheduler.ContextListener</listener-class>
    </listener>
</web-app>
